absl-py==2.0.0 ; python_version >= "3.10" and python_version < "3.11"
aiohttp==3.8.5 ; python_version >= "3.10" and python_version < "3.11"
aiosignal==1.3.1 ; python_version >= "3.10" and python_version < "3.11"
antlr4-python3-runtime==4.9.3 ; python_version >= "3.10" and python_version < "3.11"
anyio==3.7.1 ; python_version >= "3.10" and python_version < "3.11"
appdirs==1.4.4 ; python_version >= "3.10" and python_version < "3.11"
appnope==0.1.3 ; python_version >= "3.10" and python_version < "3.11" and sys_platform == "darwin"
asttokens==2.4.0 ; python_version >= "3.10" and python_version < "3.11"
astunparse==1.6.3 ; python_version >= "3.10" and python_version < "3.11"
async-timeout==4.0.3 ; python_version >= "3.10" and python_version < "3.11"
attrs==23.1.0 ; python_version >= "3.10" and python_version < "3.11"
audioread==3.0.0 ; python_version >= "3.10" and python_version < "3.11"
backcall==0.2.0 ; python_version >= "3.10" and python_version < "3.11"
braceexpand==0.1.7 ; python_version >= "3.10" and python_version < "3.11"
cachetools==5.3.1 ; python_version >= "3.10" and python_version < "3.11"
certifi==2023.7.22 ; python_version >= "3.10" and python_version < "3.11"
cffi==1.15.1 ; python_version >= "3.10" and python_version < "3.11"
charset-normalizer==3.2.0 ; python_version >= "3.10" and python_version < "3.11"
click==7.1.2 ; python_version >= "3.10" and python_version < "3.11"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.11"
comm==0.1.4 ; python_version >= "3.10" and python_version < "3.11"
contourpy==1.1.1 ; python_version >= "3.10" and python_version < "3.11"
cycler==0.11.0 ; python_version >= "3.10" and python_version < "3.11"
decorator==5.1.1 ; python_version >= "3.10" and python_version < "3.11"
distance==0.1.3 ; python_version >= "3.10" and python_version < "3.11"
docker-pycreds==0.4.0 ; python_version >= "3.10" and python_version < "3.11"
docopt==0.6.2 ; python_version >= "3.10" and python_version < "3.11"
editdistance==0.6.2 ; python_version >= "3.10" and python_version < "3.11"
exceptiongroup==1.1.3 ; python_version >= "3.10" and python_version < "3.11"
executing==1.2.0 ; python_version >= "3.10" and python_version < "3.11"
ffmpeg-python==0.2.0 ; python_version >= "3.10" and python_version < "3.11"
filelock==3.12.4 ; python_version >= "3.10" and python_version < "3.11"
flatbuffers==1.12 ; python_version >= "3.10" and python_version < "3.11"
fonttools==4.42.1 ; python_version >= "3.10" and python_version < "3.11"
frozenlist==1.4.0 ; python_version >= "3.10" and python_version < "3.11"
fsspec==2023.9.1 ; python_version >= "3.10" and python_version < "3.11"
fsspec[http]==2023.9.1 ; python_version >= "3.10" and python_version < "3.11"
future==0.18.3 ; python_version >= "3.10" and python_version < "3.11"
g2p-en==2.1.0 ; python_version >= "3.10" and python_version < "3.11"
gast==0.4.0 ; python_version >= "3.10" and python_version < "3.11"
gitdb==4.0.10 ; python_version >= "3.10" and python_version < "3.11"
gitpython==3.1.36 ; python_version >= "3.10" and python_version < "3.11"
google-auth-oauthlib==0.4.6 ; python_version >= "3.10" and python_version < "3.11"
google-auth==2.17.3 ; python_version >= "3.10" and python_version < "3.11"
google-pasta==0.2.0 ; python_version >= "3.10" and python_version < "3.11"
grpcio==1.58.0 ; python_version >= "3.10" and python_version < "3.11"
h11==0.12.0 ; python_version >= "3.10" and python_version < "3.11"
h2==4.1.0 ; python_version >= "3.10" and python_version < "3.11"
h5py==3.9.0 ; python_version >= "3.10" and python_version < "3.11"
hpack==4.0.0 ; python_version >= "3.10" and python_version < "3.11"
httpcore==0.13.7 ; python_version >= "3.10" and python_version < "3.11"
httpx[http2]==0.19.0 ; python_version >= "3.10" and python_version < "3.11"
huggingface-hub==0.17.2 ; python_version >= "3.10" and python_version < "3.11"
hydra-core==1.2.0 ; python_version >= "3.10" and python_version < "3.11"
hyperframe==6.0.1 ; python_version >= "3.10" and python_version < "3.11"
hyperpyyaml==1.2.1 ; python_version >= "3.10" and python_version < "3.11"
idna==3.4 ; python_version >= "3.10" and python_version < "3.11"
inflect==7.0.0 ; python_version >= "3.10" and python_version < "3.11"
ipython==8.15.0 ; python_version >= "3.10" and python_version < "3.11"
ipywidgets==8.1.1 ; python_version >= "3.10" and python_version < "3.11"
jedi==0.19.0 ; python_version >= "3.10" and python_version < "3.11"
jinja2==3.1.2 ; python_version >= "3.10" and python_version < "3.11"
jiwer==2.3.0 ; python_version >= "3.10" and python_version < "3.11"
joblib==1.3.2 ; python_version >= "3.10" and python_version < "3.11"
jupyterlab-widgets==3.0.9 ; python_version >= "3.10" and python_version < "3.11"
kaldi-python-io==1.2.2 ; python_version >= "3.10" and python_version < "3.11"
kaldiio==2.18.0 ; python_version >= "3.10" and python_version < "3.11"
keras-preprocessing==1.1.2 ; python_version >= "3.10" and python_version < "3.11"
keras==2.9.0 ; python_version >= "3.10" and python_version < "3.11"
kiwisolver==1.4.5 ; python_version >= "3.10" and python_version < "3.11"
lazy-loader==0.3 ; python_version >= "3.10" and python_version < "3.11"
levenshtein==0.21.1 ; python_version >= "3.10" and python_version < "3.11"
libclang==16.0.6 ; python_version >= "3.10" and python_version < "3.11"
librosa==0.10.1 ; python_version >= "3.10" and python_version < "3.11"
lightning-utilities==0.9.0 ; python_version >= "3.10" and python_version < "3.11"
llvmlite==0.40.1 ; python_version >= "3.10" and python_version < "3.11"
loguru==0.7.2 ; python_version >= "3.10" and python_version < "3.11"
markdown==3.4.4 ; python_version >= "3.10" and python_version < "3.11"
markupsafe==2.1.3 ; python_version >= "3.10" and python_version < "3.11"
marshmallow==3.20.1 ; python_version >= "3.10" and python_version < "3.11"
matplotlib-inline==0.1.6 ; python_version >= "3.10" and python_version < "3.11"
matplotlib==3.8.0 ; python_version >= "3.10" and python_version < "3.11"
mpmath==1.3.0 ; python_version >= "3.10" and python_version < "3.11"
msgpack==1.0.5 ; python_version >= "3.10" and python_version < "3.11"
multidict==6.0.4 ; python_version >= "3.10" and python_version < "3.11"
nemo-toolkit[asr]==1.20.0 ; python_version >= "3.10" and python_version < "3.11"
networkx==3.1 ; python_version >= "3.10" and python_version < "3.11"
nltk==3.8.1 ; python_version >= "3.10" and python_version < "3.11"
norbert==0.2.1 ; python_version >= "3.10" and python_version < "3.11"
numba==0.57.1 ; python_version >= "3.10" and python_version < "3.11"
numpy==1.23.5 ; python_version >= "3.10" and python_version < "3.11"
oauthlib==3.2.2 ; python_version >= "3.10" and python_version < "3.11"
omegaconf==2.2.3 ; python_version >= "3.10" and python_version < "3.11"
onnx==1.12.0 ; python_version >= "3.10" and python_version < "3.11"
openai==0.28.0 ; python_version >= "3.10" and python_version < "3.11"
opt-einsum==3.3.0 ; python_version >= "3.10" and python_version < "3.11"
packaging==23.1 ; python_version >= "3.10" and python_version < "3.11"
pandas==1.5.3 ; python_version >= "3.10" and python_version < "3.11"
parso==0.8.3 ; python_version >= "3.10" and python_version < "3.11"
pathtools==0.1.2 ; python_version >= "3.10" and python_version < "3.11"
pexpect==4.8.0 ; python_version >= "3.10" and python_version < "3.11" and sys_platform != "win32"
pickleshare==0.7.5 ; python_version >= "3.10" and python_version < "3.11"
pillow==10.0.1 ; python_version >= "3.10" and python_version < "3.11"
plac==1.4.0 ; python_version >= "3.10" and python_version < "3.11"
platformdirs==3.10.0 ; python_version >= "3.10" and python_version < "3.11"
pooch==1.7.0 ; python_version >= "3.10" and python_version < "3.11"
prompt-toolkit==3.0.39 ; python_version >= "3.10" and python_version < "3.11"
protobuf==3.19.6 ; python_version >= "3.10" and python_version < "3.11"
psutil==5.9.5 ; python_version >= "3.10" and python_version < "3.11"
ptyprocess==0.7.0 ; python_version >= "3.10" and python_version < "3.11" and sys_platform != "win32"
pure-eval==0.2.2 ; python_version >= "3.10" and python_version < "3.11"
pyannote-core==5.0.0 ; python_version >= "3.10" and python_version < "3.11"
pyannote-database==5.0.1 ; python_version >= "3.10" and python_version < "3.11"
pyannote-metrics==3.2.1 ; python_version >= "3.10" and python_version < "3.11"
pyasn1-modules==0.3.0 ; python_version >= "3.10" and python_version < "3.11"
pyasn1==0.5.0 ; python_version >= "3.10" and python_version < "3.11"
pybind11==2.11.1 ; python_version >= "3.10" and python_version < "3.11"
pycparser==2.21 ; python_version >= "3.10" and python_version < "3.11"
pydantic==1.10.12 ; python_version >= "3.10" and python_version < "3.11"
pydub==0.25.1 ; python_version >= "3.10" and python_version < "3.11"
pygments==2.16.1 ; python_version >= "3.10" and python_version < "3.11"
pyparsing==3.1.1 ; python_version >= "3.10" and python_version < "3.11"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "3.11"
python-dotenv==1.0.0 ; python_version >= "3.10" and python_version < "3.11"
python-levenshtein==0.12.2 ; python_version >= "3.10" and python_version < "3.11"
pytorch-lightning==1.9.4 ; python_version >= "3.10" and python_version < "3.11"
pytube==15.0.0 ; python_version >= "3.10" and python_version < "3.11"
pytz==2023.3.post1 ; python_version >= "3.10" and python_version < "3.11"
pyyaml==6.0.1 ; python_version >= "3.10" and python_version < "3.11"
rapidfuzz==3.3.0 ; python_version >= "3.10" and python_version < "3.11"
regex==2023.8.8 ; python_version >= "3.10" and python_version < "3.11"
requests-oauthlib==1.3.1 ; python_version >= "3.10" and python_version < "3.11"
requests==2.31.0 ; python_version >= "3.10" and python_version < "3.11"
rfc3986[idna2008]==1.5.0 ; python_version >= "3.10" and python_version < "3.11"
rsa==4.9 ; python_version >= "3.10" and python_version < "3.11"
ruamel-yaml-clib==0.2.7 ; platform_python_implementation == "CPython" and python_version < "3.11" and python_version >= "3.10"
ruamel-yaml==0.17.28 ; python_version >= "3.10" and python_version < "3.11"
sacremoses==0.0.53 ; python_version >= "3.10" and python_version < "3.11"
safetensors==0.3.3 ; python_version >= "3.10" and python_version < "3.11"
scikit-learn==1.3.0 ; python_version >= "3.10" and python_version < "3.11"
scipy==1.11.2 ; python_version >= "3.10" and python_version < "3.11"
sentencepiece==0.1.99 ; python_version >= "3.10" and python_version < "3.11"
sentry-sdk==1.31.0 ; python_version >= "3.10" and python_version < "3.11"
setproctitle==1.3.2 ; python_version >= "3.10" and python_version < "3.11"
setuptools-scm==7.1.0 ; python_version >= "3.10" and python_version < "3.11"
setuptools==65.5.1 ; python_version >= "3.10" and python_version < "3.11"
shellingham==1.5.3 ; python_version >= "3.10" and python_version < "3.11"
simple-diarizer==0.0.13 ; python_version >= "3.10" and python_version < "3.11"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.11"
smmap==5.0.1 ; python_version >= "3.10" and python_version < "3.11"
sniffio==1.3.0 ; python_version >= "3.10" and python_version < "3.11"
sortedcontainers==2.4.0 ; python_version >= "3.10" and python_version < "3.11"
soundfile==0.12.1 ; python_version >= "3.10" and python_version < "3.11"
sox==1.4.1 ; python_version >= "3.10" and python_version < "3.11"
soxr==0.3.6 ; python_version >= "3.10" and python_version < "3.11"
speechbrain==0.5.15 ; python_version >= "3.10" and python_version < "3.11"
spleeter==2.4.0 ; python_version >= "3.10" and python_version < "3.11"
stack-data==0.6.2 ; python_version >= "3.10" and python_version < "3.11"
sympy==1.12 ; python_version >= "3.10" and python_version < "3.11"
tabulate==0.9.0 ; python_version >= "3.10" and python_version < "3.11"
tensorboard-data-server==0.6.1 ; python_version >= "3.10" and python_version < "3.11"
tensorboard-plugin-wit==1.8.1 ; python_version >= "3.10" and python_version < "3.11"
tensorboard==2.9.1 ; python_version >= "3.10" and python_version < "3.11"
tensorflow-estimator==2.9.0 ; python_version >= "3.10" and python_version < "3.11"
tensorflow-io-gcs-filesystem==0.34.0 ; python_version >= "3.10" and python_version < "3.11"
tensorflow==2.9.3 ; python_version >= "3.10" and python_version < "3.11"
termcolor==2.3.0 ; python_version >= "3.10" and python_version < "3.11"
text-unidecode==1.3 ; python_version >= "3.10" and python_version < "3.11"
texterrors==0.4.4 ; python_version >= "3.10" and python_version < "3.11"
threadpoolctl==3.2.0 ; python_version >= "3.10" and python_version < "3.11"
tokenizers==0.13.3 ; python_version >= "3.10" and python_version < "3.11"
tomli==2.0.1 ; python_version >= "3.10" and python_version < "3.11"
torch==2.0.1 ; python_version >= "3.10" and python_version < "3.11"
torchaudio==2.0.2 ; python_version >= "3.10" and python_version < "3.11"
torchmetrics==1.1.2 ; python_version >= "3.10" and python_version < "3.11"
tqdm==4.66.1 ; python_version >= "3.10" and python_version < "3.11"
traitlets==5.10.0 ; python_version >= "3.10" and python_version < "3.11"
transformers==4.33.2 ; python_version >= "3.10" and python_version < "3.11"
typer==0.3.2 ; python_version >= "3.10" and python_version < "3.11"
typer[all]==0.3.2 ; python_version >= "3.10" and python_version < "3.11"
typing-extensions==4.8.0 ; python_version >= "3.10" and python_version < "3.11"
urllib3==2.0.5 ; python_version >= "3.10" and python_version < "3.11"
wandb==0.15.10 ; python_version >= "3.10" and python_version < "3.11"
wcwidth==0.2.6 ; python_version >= "3.10" and python_version < "3.11"
webdataset==0.1.62 ; python_version >= "3.10" and python_version < "3.11"
werkzeug==2.3.7 ; python_version >= "3.10" and python_version < "3.11"
wget==3.2 ; python_version >= "3.10" and python_version < "3.11"
wheel==0.41.2 ; python_version >= "3.10" and python_version < "3.11"
widgetsnbextension==4.0.9 ; python_version >= "3.10" and python_version < "3.11"
win32-setctime==1.1.0 ; python_version >= "3.10" and python_version < "3.11" and sys_platform == "win32"
wrapt==1.15.0 ; python_version >= "3.10" and python_version < "3.11"
yarl==1.9.2 ; python_version >= "3.10" and python_version < "3.11"
youtokentome @ git+https://github.com/LahiLuk/YouTokenToMe@HEAD ; python_version >= "3.10" and python_version < "3.11"
